body {
    font-family: Arial, sans-serif;
    margin: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

button {
    padding: 10px;
    font-size: 16px;
}

.burger-menu {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.left-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.left-panel p {
    padding: 15px;
    font-size: 20px;
}

/* Style to overlay when the left panel is opened */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}
